.logo {

    h1 {
        margin-top: 0;
        font-weight: 300;
        font-size: 1.3em;
        font-family: $font_logo;

        .logo_left {
            color: $color_logo_left;
        }
        .logo_right {
            color: $color_logo_right;
        }
    }
}