.movie_over {
    background-color: $color_background_overview;
    color: $color_text;
    padding: 1rem;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
    max-height: 100%;
    transform: translateY(102%);
    transition: transform 0.5s ease-in-out;
}

.movie:hover .movie_over {
    transform: translateY(0%);
}
